<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>Thêm nhân viên </h2>
        <from class ="form-contact" action ="/addEmployees" method ="post" enctype="multipart/from-data">
            {% csrf_token %}
            <label for="department">Phòng ban</label>
            
            <select name = "department" ,id ="department">
                {% for department in department_list %}
                <option value={{department.department_list}}>{{department.name}}</option>
                {% endfor %}
                <option value=>------Chọn------</option> 
               
            </select><br/>
            <label for="fullName">Tên nhân viên</label>
            <input type ="text" name ="fullName"></br>

            <label for "age">Tuổi</label>
            <input type ="number" name="age"></br>

            <label for "avatar">Ảnh</label>
            <input type = "file" name="avatar"></br>

            <label for "cv">CV</label>
            <input type ="file" name ="cv" accept="image/png, image/jpeg"></br>

            <button class="btn btn-primary"type="submit">Thêm</button>
        </from>
        
        
        <script src="" async defer></script>
    </body>
</html>