<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h3>bin</h3>
    <table>
      <thead>
        <tr>
          <td>Id</td>
          <td>Tên phòng ban</td>
          <td>Nhân sự</td>
        </tr>
      </thead>

      {% for department in department_list %}
      <tr>
        <td>{{department.department_id}}</td>
        <td>{{department.name}}</td>
        <td>
          <a href="/department/{{department.department_id}}"> Chi tiết </a>
        </td>
      </tr>

      {% endfor %}
    </table>
  </body>
</html>
